<nav class="navbar navbar-dark bg-dark" style="position: sticky; top: 0px; z-index: 1;" *ngIf="userName">
  <!-- Navbar content -->
  <a [routerLink]="['/application']" class="navbar-brand">Payments System</a>
  <div class="dropdown">
    <button class="btn text-white dropdown-toggle" appDropdown type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="far fa-user"></i>{{userName}}
    </button>
    <div class="dropdown-menu" appDropdown aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

