<app-display-error [message] = 'errorMessage'></app-display-error>

<div class="card">
  <div class="card-header">
    Payment Form
  </div>
  <div class="row">
    <div class="col-6 mx-auto">
      <form [formGroup]="paymentForm" (ngSubmit)="save()">
        <div class="form-row">
          <div class="form-group col-8">
            <label for="amount">Amount</label>
            <input
              type="text"
              class="form-control"
              formControlName="amount"
              id="amount"
            />
            <span
              class="text-danger"
              *ngIf="
                !paymentForm.get('amount').valid &&
                paymentForm.get('amount').touched
              "
            >
              The Amount field is required.
            </span>
          </div>

          <div class="form-group col-8">
            <label for="currencyCode">Currency Code</label>
            <select class="custom-select" formControlName="currencyCode" id="currencyCode">
              <option *ngFor="let currancy of currancyList" value="{{currancy}}">{{currancy}}</option>
            </select>
            <span
              class="text-danger"
              *ngIf="
                !paymentForm.get('currencyCode').valid &&
                paymentForm.get('currencyCode').touched
              "
            >
              The Currency Code field is required.
            </span>
          </div>
          <div class="form-group col-8">
            <label for="sourceAccountNumber">Source Account Number</label>
            <input
              type="text"
              class="form-control"
              formControlName="sourceAccountNumber"
              id="sourceAccountNumber"
            />
            <span
              class="text-danger"
              *ngIf="
                !paymentForm.get('sourceAccountNumber').valid &&
                paymentForm.get('sourceAccountNumber').touched
              "
            >
            Account Number must contain 6 digits.
            </span>
          </div>
          <div class="form-group col-8">
            <label for="destinationAccountNumber"
              >Destination Account Number</label
            >
            <input
              type="text"
              class="form-control"
              formControlName="destinationAccountNumber"
              id="destinationAccountNumber"
            />
            <span
              class="text-danger"
              *ngIf="
                !paymentForm.get('destinationAccountNumber').valid &&
                paymentForm.get('destinationAccountNumber').touched
              "
            >
            Account Number must contain 6 digits.
            </span>
          </div>
          <div class="form-group col-8">
            <label for="description">Discription</label>
            <textarea
              type="text"
              class="form-control"
              id="description"
              row="3"
              formControlName="paymentDescription"
            ></textarea>
            <span
              class="text-danger"
              *ngIf="
                !paymentForm.get('paymentDescription').valid &&
                paymentForm.get('paymentDescription').touched
              "
            >
            The value in description field is more than 1000 character.
            </span>
          </div>
        </div>
        <div class="form-group" style="text-align: center;">
          <button type="submit" class="btn btn-primary">Save</button
          >&nbsp;&nbsp;
          <button type="submit" class="btn btn-danger" (click)="cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
